{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 3%">
    <h1><span>{{ fakult }}</span></h1>
  </header>
</article>

<section class="section" id="Text">
  {% for lidi in finalLidi %}
    <div>
      <hr class="featurette-divider">
        <a role="button" class="collapsed" data-toggle="collapse" href="#infoLidi" aria-expanded="false" aria-controls="infoLidi" style="text-decoration: none">
          <h2>{{ lidi[0] }}</h2>
        </a>

        <div class="collapse" id="infoLidi" aria-expanded="false">
          {% if lidi[2] != "" %}
          <p>pracoviště: {{ lidi[2] }}</p>
          {% endif %}
          {% if lidi[3] != "" %}
          <p>telefon: {{ lidi[3] }}</p>
          {% endif %}
          {% if lidi[4] != "" %}
          <p>e-mail: {{ lidi[4] }}</p>
          {% endif %}
        </div>

      <h3>{{ lidi[1] }}</h3>
    </div>
  {% endfor %}
</section>
{% endblock %}
