{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 3%">
    <h1><span>{{ fakult }}</span></h1>
  </header>
</article>

<section class="section" id="Text">
    {% for lidi in finalLidi %}
    <div>
        <td><h2> <hr class="featurette-divider">{{ lidi[0] }}</a></h2>
          {% if lidi[2] != "" %}
          <p>pracoviště: {{ lidi[2] }}</p>
          {% endif %}
          {% if lidi[3] != "" %}
          <p>telefon: {{ lidi[3] }}</p>
          {% endif %}
          {% if lidi[4] != "" %}
          <p>e-mail: {{ lidi[4] }}</p>
          {% endif %}  
          <h3>{{ lidi[1] }}</h3>
        </td>
    </div>
    {% endfor %}
</section>
{% endblock %}
