{% extends "sablona.html" %}

{% block main %}
<article>
    <header class="header bg-secondary">
        <h2>Databáze</h2>
    </header>
</article>

<section id="Text">
    <table class="table table-hover table-bordered border-dark table-striped">
    <thead>
        <th>ID</th><th>Text</th>
    </thead>
    {% for ID, nazev, nadpis, text in databaze %}
        <tr>
            <td>{{ ID }}</td><td>{{ nadpis }}</td>
        </tr>
    {% endfor %}
    </table>
</section>

<br>
<br>
<section class="section" id="Odeslat text">
    <form action="" method="post">
        <fieldset>
            <label>Název: </label>
            <input class="input-group mb-0" type="text" name="nazev" placeholder="Zadej název" required>
            <br>
            <label>Nadpis: </label>
            <input class="input-group mb-0" type="text" name="nadpis" placeholder="Zadej nadpis" required>
            <br>
            <label>Text: </label>
            <input class="input-group mb-0" type="text" name="text" placeholder="Zadej text" required>
            <br>

            <button class="btn bg-info" type="submit">Potvrdit</button>
        </fieldset>
    </form>
</section>
{% endblock %}