{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 7%">
    <h1><span>Lokální databáze</span></h1>
  </header>
</article>

<section class="section position-center" id="Text" style="padding-left: 15%; padding-right: 15%">
  <table class="table table-hover table-bordered bdr">
    <thead>
      <th>ID</th>
      <th>Soubor</th>
    </thead>
    {% for ID, nazev, nadpis, text in databaze %}
    <tr>
      <td>{{ ID }}</td>
      <td><a style="color: white;" href= localdb/{{ ID }}>{{ nadpis }}</a></td>
    </tr>
    {% endfor %}
  </table>
</section>
<br />
<br />
<section class="section" id="Odeslat text" style="color: white; padding-left: 25%; padding-right: 25%">
  <form action="" method="post">
    <fieldset>
      <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="forNazev">Název</label>
          <input style="border: 2px solid #332D2D;" id="forNazev" type="text" class="form-control" name="nazev" placeholder="Zadej název" required/>
        </div>
        <div class="col-md-2 mb-3">
          <label for="forNadpis">Nadpis</label>
          <input style="border: 2px solid #332D2D;" id="forNadpis" type="text" class="form-control" name="nadpis" placeholder="Zadej nadpis" required/>
        </div>
        <div class="col-md-8 mb-3">
          <label for="textLocal">Text</label>
          <input style="border: 2px solid #332D2D;" id="textLocal" type="text" class="form-control" name="text" placeholder="Zadej text" required/>
        </div>
      </div>
      <div class="float-right">
        <button class="btn btn-primary" type="submit" name="btn" value="send" style="justify-content: left">
          Potvrdit
        </button>
      </div>
    </fieldset>
  </form>
</section>
{% endblock %}
