{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 7%">
    <h1><span>Lokální databáze</span></h1>
  </header>
</article>

<section class="section position-center" id="Text" style="padding-left: 15%; padding-right: 15%">
  <table class="table table-hover table-bordered bdr">
    <thead>
      <th>ID</th>
      <th>Soubor</th>
    </thead>
    {% for ID, nazev, nadpis, text in databaze %}
    <tr>
      <td>{{ ID }}</td>
      <td><a style="color: white;" href= localdb/{{ ID }}>{{ nadpis }}</a></td>
    </tr>
    {% endfor %}
  </table>
</section>
<br />
<br />
<section class="section" id="Odeslat text" style="color: white; padding-left: 25%; padding-right: 25%">
  <form action="" method="post">
    <fieldset>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Název</span>
        </div>
        <input id="forNazev" type="text" class="form-control" name="nazev" placeholder="Zadej název" required style="background-color: #333333; color: white"/>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nadpis</span>
        </div>
        <input id="forNadpis" type="text" class="form-control" name="nadpis" placeholder="Zadej nadpis" required style="background-color: #333333; color: white"/>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Text</span>
        </div>
        <textarea id="textLocal" type="text" class="form-control" name="text" placeholder="Zadej text" required style="background-color: #333333; color: white"></textarea>
      </div>
      <div class="float-right">
        <button class="btn btn-dark" type="submit" name="btn" value="send" style="justify-content: left; margin-top: 3px;">
          Potvrdit
        </button>
      </div>
    </fieldset>
  </form>
</section>
{% endblock %}
