{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 3%">
    <h1><span>MongoDB</span></h1>
  </header>
</article>
<form method="post">
  <section class="section position-center" id="Text" style="padding-left: 15%; padding-right: 15%">
  {% set idstore = [] %}
  {% if mongo %}
  <table class="table table-hover table-bordered bg-dark" style= "color: white;">
    <thead>
      <th>
        _id
      </th>
      <th>
        pracoviste
      </th>
      <th>
        telefon
      </th>
      <th>
        email
      </th>
    </thead>
    <th>
      <input
          type="text"
          class="form-control"
          name="createid"
          value={{ last }}
        />
    </th>
    <th>
      <input
          type="text"
          class="form-control"
          name="createpra"
        />
    </th>
    <th>
      <input
          type="text"
          class="form-control"
          name="createtel"
        />
    </th>
    <th>
      <input
          type="text"
          class="form-control"
          name="createema"
        />
    </th>
    <th>
      <button
      class="btn btn-success"
      type="submit"
      name="btn"
      value="create"
      style="color: black"
    >
    Create
    </button>
    </th>
    
  </table>
  <table class="table table-hover table-bordered bg-dark" style= "color: white;">
  {% set printedKeys = [] %}
  {% for item in mongo %}
  <thead>
    {% if key not in printedKeys %}
    {{ printedKeys.append(key) or "" }}
    {% for key in item.keys() %}
    <th class="mongogridhead{{key}}">{{ key }}</th>
    {% endfor %}
    {% endif %}
  </thead>

  {% for key, value in item.items() %}
  {% set id = idstore[-1] %}
  {% if key == "_id" %}
  {% set id = value %}
  {{ idstore.append(id) or "" }} 
  {% endif %}
  
  <td class="mongogrid{{key}}"><div id="{{ id }}{{ key }}text" >
    {{ value }}
  </div>
    {% if key != "_id" %}
      <input
          name="{{ id + key }}"
          id="{{ id }}{{ key }}"
          type="text"
          class="form-control"
          value="{{ value }}"
          style="display: none"
        />
    {% endif %}

  </td>
  {% endfor %}
  <td>
      <button
      class="btn btn-danger"
      type="submit"
      name="btn"
      id = "{{ idstore[-1] }}rem"
      value="rem{{ idstore[-1] }}"
      style="color: black"
    >
    Remove
  </button>
  <button
  class="btn btn-warning"
  type="submit"
  name="btn"
  id = "{{ idstore[-1] }}upd"
  value="upd{{ idstore[-1] }}"
  style="display: none; color: black"
>
  Update
</button>
    <button
    class="btn btn-primary"
    name="btn"
    type="button"
    id = "{{ idstore[-1] }}edt"
    value="edt{{ idstore[-1] }}"
    style="color: black"
    onclick="edit({{ idstore[-1] }})"
  >
    Edit
  </button>
    </form></td>
  {% endfor %}
  </table>
  {% endif %}

  <table class="table table-hover table-bordered bg-dark" style= "color: white;">
    <tr>
      <th scope="row">Počet emailů s @ujep.cz</th>
      <td>{{ujep}}</td>
    </tr>
    <tr>
      <th scope="row">Počet emailů s @seznam.cz</th>
      <td>{{seznam}}</td>
    </tr>
    <tr>
      <th scope="row">Počet duplicitních emailů</th>
      <td>{{emailDups}}</td>
    </tr>
    <tr>
      <th scope="row">Počet duplicitních lidí</th>
      <td>{{dups}}</td>
    </tr>
    <tr>
      <th scope="row" style="text-align: justify-center">Nejvytíženější pracoviště</th>
      <td>
        {% for key, value in pracoMapRed.items() %}
        <p>prac. {{key}} = {{value}}<p>
        {% endfor %}
      </td>
    </tr>
  </table>

</section>

<script src="{{url_for('static', filename='crud_hide.js')}}"></script>

{% endblock %}
