{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 3%">
    <h1><span>MongoDB</span></h1>
  </header>
</article>
<form method="post">
  <section class="section position-center" id="Text" style="padding-left: 15%; padding-right: 15%">
  {% set idstore = [] %}
  {% if mongo %}
  <table class="table table-hover table-bordered bg-dark" style= "color: white;">
    <thead>
      <th>
        _id
      </th>
      <th>
        pracoviste
      </th>
      <th>
        telefon
      </th>
      <th>
        email
      </th>
      <th>
        <button class="btn" name="btn" value="refresh" id="refresh-button" onclick="refreshContent()" style="padding: 0; background: transparent; border: none;"><img id="refresh-icon" class="refresh-start" src="https://icons.veryicon.com/png/o/miscellaneous/basic-monochrome-icon/refresh-149.png" width=25 height=25 /></button> 
      </th>
    </thead>
    <th>
      <input
          type="text"
          class="form-control"
          name="createid"
          value={{ last }}
        />
    </th>
    <th>
      <input
          type="text"
          class="form-control"
          name="createpra"
        />
    </th>
    <th>
      <input
          type="text"
          class="form-control"
          name="createtel"
        />
    </th>
    <th>
      <input
          type="text"
          class="form-control"
          name="createema"
        />
    </th>
    <th>
      <button
      class="btn btn-success"
      type="submit"
      name="btn"
      value="create"
      style="color: black"
    >
    Create
    </button>
    </th>
    
  </table>
  <table class="table table-hover table-bordered bg-dark" style= "color: white;">
  {% set printedKeys = [] %}
  {% for item in mongo %}
  <thead>
    {% if key not in printedKeys %}
    {{ printedKeys.append(key) or "" }}
    {% for key in item.keys() %}
    <th class="mongogridhead{{key}}">{{ key }}</th>
    {% endfor %}
    <th></th>
    {% endif %}
  </thead>

  {% for key, value in item.items() %}
  {% set id = idstore[-1] %}
  {% if key == "_id" %}
  {% set id = value %}
  {{ idstore.append(id) or "" }} 
  {% endif %}
  
  <td class="mongogrid{{key}}">
    <div id="{{ id }}{{ key }}text" >
      {{ value }}
    </div>
    {% if key != "_id" %}
      <input
          name="{{ id + key }}"
          id="{{ id }}{{ key }}"
          type="text"
          class="form-control"
          value="{{ value }}"
          style="display: none"
        />
    {% endif %}

  </td>
  {% endfor %}
  <td>
      <button
      class="btn btn-danger"
      type="submit"
      name="btn"
      id = "{{ idstore[-1] }}rem"
      value="rem{{ idstore[-1] }}"
      style="color: black"
    >
    Remove
  </button>
  <button
  class="btn btn-warning"
  type="submit"
  name="btn"
  id = "{{ idstore[-1] }}upd"
  value="upd{{ idstore[-1] }}"
  style="display: none; color: black"
>
  Update
</button>
    <button
    class="btn btn-primary"
    name="btn"
    type="button"
    id = "{{ idstore[-1] }}edt"
    value="edt{{ idstore[-1] }}"
    style="color: black"
    onclick="edit({{ idstore[-1] }})"
  >
    Edit
  </button>
    </form></td>
  {% endfor %}
  </table>
  {% endif %}

  <table class="table table-hover table-bordered bg-dark" style= "color: white;">
    <tr>
      <th scope="row">Počet unikátních emailů s @ujep.cz</th>
      {% for key, value in emailMapRed.items() %}
      {% if key == "ujep" %}
      <td>{{value}}</td>
      {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row" style="text-align: center; vertical-align: middle;">Počet unikátních emailů s @seznam.cz</th>
      {% for key, value in emailMapRed.items() %}
      {% if key == "seznam" %}
      <td style="text-align: center; vertical-align: middle;">{{value}}</td>
      {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">Počet duplicitních lidí</th>
      {% for key, value in emailMapRed.items() %}
      {% if key == "numberOfDups" %}
      <td>{{value}}</td>
      {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row" style="text-align: center; vertical-align: middle;">Duplicitní lidé</th>
      {% for key, value in emailMapRed.items() %}
      {% if key == "emailDups" %}
      <td>{{ value | join(", ") }}</td>
      {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row" style="text-align: center; vertical-align: middle;">Nejvytíženější pracoviště</th>
      <td>
        <div class="container">
          <div class="row">
            {% for key, value in pracoMapRed.items() %}
            <div class="col-sm align-middle">
              {{key}} = {{value|int}}
            </div>
            {% endfor %}
          </div>
        </div>
      </td>
    </tr>
  </table>

</section>

<script src="{{url_for('static', filename='refresh_button.js')}}"></script>
<script src="{{url_for('static', filename='crud_hide.js')}}"></script>

{% endblock %}
