{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 3%">
    <h1><span>Neo4j</span></h1>
  </header>
</article>

<section class="section position-center" id="Text" style="padding-left: 15%; padding-right: 15%">
    <form method="post">

      <table class="table table-hover table-bordered bg-dark" style= "color: white;">
        <tr>
          <th scope="row" style="text-align: center; vertical-align: middle;">Nodes</th>
          <td>
            <div class="container">
              <div class="row">
                <div class="col-sm align-middle">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input square" name="check" type="checkbox" value="uni" id="uni" {{ "checked" if "uni" in sett }}>
                    <label id="labelNeo" class="form-check-label" for="uni">
                      Univerzita
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input square" name="check" type="checkbox" value="fak" id="fak" {{ "checked" if "fak" in sett }}>
                    <label id="labelNeo" class="form-check-label" for="fak">
                      Fakulty
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input square" name="check" type="checkbox" value="prac" id="prac" {{ "checked" if "prac" in sett }}>
                    <label id="labelNeo" class="form-check-label" for="prac">
                      Pracoviště
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input square" name="check" type="checkbox" value="lidi" id="lidi" {{ "checked" if "lidi" in sett }}>
                    <label id="labelNeo" class="form-check-label" for="lidi">
                      Lidi
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" style="text-align: center; vertical-align: middle;">Relationships</th>
          <td>
            <div class="container">
              <div class="row">
                <div class="col-sm align-middle">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input square" name="check" type="checkbox" value="hasfak" id="hasfak" {{ "checked" if "hasfak" in sett }}>
                    <label id="labelNeo" class="form-check-label" for="hasfak">
                      HAS_FAKULTA
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input square" name="check" type="checkbox" value="haswork" id="haswork" {{ "checked" if "haswork" in sett }}>
                    <label id="labelNeo" class="form-check-label" for="haswork">
                      HAS_WORKPLACE
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input square" name="check" type="checkbox" value="workat" id="workat" {{ "checked" if "workat" in sett }}>
                    <label id="labelNeo" class="form-check-label" for="workat">
                      IS_WORKING_AT
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input square" name="check" type="checkbox" value="workin" id="workin" {{ "checked" if "workin" in sett }}>
                    <label id="labelNeo" class="form-check-label" for="workin">
                      IS_WORKING_IN
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input square" name="check" type="checkbox" value="workwith" id="workwith" {{ "checked" if "workwith" in sett }}>
                    <label id="labelNeo" class="form-check-label" for="workwith">
                      IS_WORKING_WITH
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class="form-check form-check-inline">
        <button type="submit" name="btn" value="match" class="btn btn-lg btn-primary rounded-pill" style="margin-bottom: 1%;">&laquo; Match &raquo;</button>
      </div>
    </form>
  </div>
</section>
<div id="viz"></div>
<script src="https://unpkg.com/neovis.js@2.0.2"></script>
<script type="text/javascript">var q = "{{ query }}"</script>
<script type="module" src="{{url_for('static', filename='neo_viz.js')}}"></script>
{% endblock %}
