{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 3%">
    <h1><span>Redis</span></h1>
  </header>
</article>

<section
class="section position-center"
id="Text"
style="padding-left: 15%; padding-right: 15%"
>
  {% if redis %}
  {% for key, value in redis.items() %}
  {{ key }}
  <br>
  {{ value }}
  <br>
  <br>
  {% endfor %}
  {% endif %}

  <table
  class="table table-hover table-bordered bg-dark"
  style= "color: white;"
  >
  <thead>
    <th style="writing-mode: vertical-rl; text-orientation: upright;">čauky</th>
    <th>{{ redis }}</th>
  </thead>

  <tr>
    <td> cs</td>
    <td> cs</td>
  </tr>

  </table>
</section>

{% endblock %}
