{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 3%">
    <h1><span>Redis</span></h1>
  </header>
</article>

<section
class="section position-center"
id="Text"
style="padding-left: 15%; padding-right: 15%"
>
  {% if redis %}
  {% for seznam in redis %}
  {% for key, value in seznam.items() %}
  <table
  class="table table-hover table-bordered bg-dark"
  style= "color: white;"
  >
  <td rowspan="0" style="text-align: center; vertical-align: middle;">{{ key }}</td>
  {% if value is not string %}
  {% for values in value %}
  <tr>
        <td>{{ values }}</td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td>{{ value }}</td>
  </tr>
  {% endif %}
  </table>
  {% endfor %}
  {% endfor %}
  {% endif %}
</section>

{% endblock %}
