{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 3%">
    <h1><span>Redis</span></h1>
  </header>
</article>

<section
class="section position-center"
id="Text"
style="padding-left: 15%; padding-right: 15%"
>
  {% if redis %}
  {% for seznam in redis %}
  <table class="table table-hover table-bordered bg-dark" style= "color: white;">
  {% for key, value in seznam.items() %}
  {% set x=2 %}
  {% if key == "fakultyList" or key == "finalLidi" %}
  {% set x=0 %}
  {% endif %}
  <td rowspan={{ x }} style="text-align: center; vertical-align: middle;">{{ key }}</td>
  {% if value is not string %}
  {% for values in value %}
  <tr>
        <td>{{ values }}</td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td>{{ value }}</td>
  </tr>
  {% endif %}
  {% endfor %}
  </table>
  {% endfor %}
  {% endif %}
</section>

{% endblock %}
