<!DOCTYPE html>
<html>
  <head class="head">
    <title>{% block title %} Divočákos {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="static/css/style.css" rel="stylesheet" media="all" />
  </head>

  <nav class="navbar navbar-expand-m navbar-dark bg-dark bg-hover">
    <a class="btn bg-danger" href="/">Home</a>

    <button
      class="mx-auto navbar-toggler bg-primary bg-hover"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    {% if session["username"] %}
    <form method="post">
      <label
        for="loginusername"
        class="text-primary"
        style="padding-right: 15px"
        >Jste přihlášen jako {{ session["username"] }}!</label
      >
      <button
        type="submit"
        name="btn"
        value="logout"
        class="btn btn-outline-primary"
      >
        Odhlásit se
      </button>
    </form>
    {% else %}
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Přihlásit se
      </button>
      <div class="dropdown" aria-labelledby="dropdownMenuButton">
        <form
          method="post"
          class="dropdown-menu dropdown-menu-right px-4"
          style="width: 300px"
        >
          <div class="form-group">
            <label for="usernamelabel">Přezdívka</label>
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="Přezdívka"
              required
            />
          </div>
          <div class="form-group">
            <label for="passwordlabel">Heslo</label>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Heslo"
              required
            />
          </div>
          <button
            type="submit"
            name="btn"
            value="login"
            class="btn btn-primary"
          >
            Přihlásit se
          </button>
          <button
            type="submit"
            name="btn"
            value="register"
            class="btn btn-secondary"
          >
            Zaregistrovat se
          </button>
        </form>
      </div>
    </div>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <nav>
        <ul style="padding-top: 15px; color: #ff69b4">
          {% for ID, nazev, nadpis, text in databaze %}
          <li><a style="color: white" href="/{{ ID }}">{{ nazev }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </nav>

  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %} {% if message == "loginsucces" %}
  <div class="alert alert-success" role="alert">Úspěšně přihlášen!</div>
  {% elif message == "loginerror" %}
  <div class="alert alert-danger" role="alert">Špatné jméno nebo heslo!</div>
  {% elif message == "regsucces" %}
  <div class="alert alert-succes" role="alert">Úspěšně zaregistrován!</div>
  {% elif message == "regerror" %}
  <div class="alert alert-danger" role="alert">
    Uživatel s tímto jménem již existuje!
  </div>
  {% elif message == "logout" %}
  <div class="alert alert-primary" role="alert">Úspěšně odhlášen!</div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}

  <body class="body" style="background-color: #333333">
    <header>
      <h1>{% block nadpis %} {% endblock %}</h1>
    </header>

    <main>{% block main %} {% endblock %}</main>

    <footer
      class="footer fixed-bottom text-center"
      style="background-color: #333333; color: white"
    >
      &copy; 2022 by Divočákos
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
