<!DOCTYPE html>
<html>
  <head class="head">
    <title>{% block title %} Divočákos {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"  media="all" />
  </head>

  <body>

  <nav class="navbar navbar-dark bg-dark bg-hover">
    <form class="form form-inline align-items-center">
      <button
      class="navbar-toggler bg-primary bg-hover"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="btn btn-secondary"style="margin-left: 10px" href="/" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg></a>
    </form> 

    {% if session["username"] %}
    <form method="post">
      <label
        for="loginusername"
        class="text-primary"
        style="padding-right: 15px"
        >Jste přihlášen jako {{ session["username"] }}!</label
      >
      <button
        type="submit"
        name="btn"
        value="logout"
        class="btn btn-outline-primary"
      >
        Odhlásit se
      </button>
    </form>

    {% else %}
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Přihlásit se
      </button>
      <div class="dropdown bg-primary" aria-labelledby="dropdownMenuButton">
        <form
          method="post"
          class="dropdown-menu dropdown-menu-right px-4"
          style="width: 300px"
        >
          <div class="form-group">
            <label for="usernamelabel">Přezdívka</label>
            <input
              type="username"
              class="form-control bg-light"
              name="username"
              placeholder="Přezdívka"
              required
            />
          </div>

          <div class="form-group">
            <label for="passwordlabel">Heslo</label>
            <input
              type="password"
              class="form-control bg-light"
              name="password"
              placeholder="Heslo"
              required
            />
          </div>

          <button
            type="submit"
            name="btn"
            value="login"
            class="btn btn-primary"
            id="myWish"
          >
            Přihlásit se
          </button>

          <button
            type="submit"
            name="btn"
            value="register"
            class="btn btn-secondary"
          >
            Zaregistrovat se
          </button>

        </form>
      </div>
    </div>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <nav>
        <div class="container" style="padding-top: 3%;">
          <div class="row text-center">
          <div class="col-lg-3">
              <img class="rounded-circle" src="{{url_for('static', filename='resources/ujep-logo.png')}}" alt="Generic placeholder image" width="140" height="140">
              <h2 style="position: center;">UJEP</h2>
              <p><a class="btn btn-secondary" href="/univerzita" role="button">Přejít &raquo;</a></p>
          </div>

          <div class="col-lg-3">
              <img class="rounded-circle" src="{{url_for('static', filename='resources/local-logo.png')}}" alt="Generic placeholder image" width="140" height="140">
              <h2>Local</h2>
              <p><a class="btn btn-secondary" href="/localdb" role="button">Přejít &raquo;</a></p>
          </div>

          <div class="col-lg-3">
              <img class="rounded-circle" src="{{url_for('static', filename='resources/sql-logo.png')}}" alt="Generic placeholder image" width="140" height="140">
              <h2>SQL</h2>
              <p><a class="btn btn-secondary" href="/sql" role="button">Přejít &raquo;</a></p>
          </div>

          <div class="col-lg-3">
              <img class="rounded-circle" src="{{url_for('static', filename='resources/redis-logo.png')}}" alt="Generic placeholder image" width="140" height="140">
              <h2>Redis</h2>
              <p><a class="btn btn-secondary" href="/redis" role="button">Přejít &raquo;</a></p>
          </div>
      </div>
      </nav>
    </div>
  </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %} {% for message in messages %} 

    {% if message == "loginsucces" %}
    <div class="alert alert-success alert-dismissible fade show js-alert" id="success-alert" role="alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Přihlášení proběhlo úspěšně!</strong>
    </div>

    {% elif message == "loginerror" %}
    <div class="alert alert-danger alert-dismissible fade show js-alert" id="error-alert" role="alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Přihlášení se nezdařilo!</strong>
    </div>

    {% elif message == "regsucces" %}
    <div class="alert alert-success alert-dismissible fade show js-alert" id="success-alert" role="alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Registrace proběhla úspěšně!</strong>
    </div>

    {% elif message == "regerror" %}
    <div class="alert alert-danger alert-dismissible fade show js-alert" id="error-alert" role="alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Registrace se nezdařila!</strong>
    </div>

    {% elif message == "logout" %}
    <div class="alert alert-primary alert-dismissible fade show js-alert" id="success-alert" role="alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Úspěšně odhlášení!</strong>
    </div>

    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <header>
      <h1>{% block nadpis %} {% endblock %}</h1>
    </header>

    <main>{% block main %} {% endblock %}</main>

    <!-- FOOTER -->
    <footer>
      <hr class="featurette-divider" style="background-color: white">
      <div class="form-row">
        <div class="col"><small class="display">Copyright © Divočákos</small></div>
        <div class="col text-right"><small class="display">{{ time }}</small></div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static', filename='alert_anime.js')}}"></script>

  </body>
</html>
